*{
    box-sizing: border-box;
}
body{

    height: 90vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   background-color: steelblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container 
{
    background-color: lightblue;
    padding: 1rem 2rem;
}
.container h1 
{
    text-align: center;
    margin-bottom: 3rem;
}

.container p 
{
    margin-bottom: 2rem;
}

.form-control
{
position: relative;
margin-bottom: 2rem;
}


.form-control input 
{
    display: block;
    width: 100%;
    border:none;
    background:none;
    border-bottom: 1px  #333 solid;
    outline: none;
  

}

form button 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: steelblue;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    transition: all .5s ease-in;
    

}

form button:active 
{
    transform: scale(.98);
}

/* .form-control label  
{
    position: absolute;
    top: 0;
    transition: all .5s ease-in-out;
} */




.form-control input:focus 
{
    border-bottom: 2px steelblue solid;
}


.form-control label span 
{
    transition: transform .5s ease-in-out;
     transition-delay: 3s;
}

.form-control label 
{
    position: absolute;
    display: flex;
    top: -20px;
}

.form-control input:focus + label > span
{
    transform:translateY(-10px);
    font-size: .7rem;
}


