* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: white;
}



html {
    transition: all 0.5s ease-in;
    background-color: var(--secondary);
}

html.dark {
    --primary: white;
    --secondary: black;
}



body {

    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
}

.clock_container {

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.clock {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    position: relative;

}

.clock .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
   
    transform-origin: bottom center;
}

.hour {

    background-color: var(--primary);
    height: 50px;
    margin-top: -50px;
}

.minute {
   
    background-color: var(--primary);
     height: 80px;
    margin-top: -80px;

}

.second {
    background-color: orangered;
     height: 80px;
    margin-top: -80px;

}


button {
    font-family: inherit;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: .3rem;
}

button:active {
    transform: scale(0.95);
}

.time {
    color: var(--primary);
    font-size: 2rem;
}

.date {
    color: var(--primary)
}

.date span.bold {
    background-color: var(--primary);
    padding: .5rem;
    border-radius: 50%;
    color: var(--secondary);
}