*{
    box-sizing: border-box;
}
body{

    height: 90vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   background-color: #333;
   font-family: 'Courier New', Courier, monospace;
}

.container h1 
{
    color: white;
    text-align: center;
    font-size: 5rem;
}

.box{
    background-color: white;
    text-align: center;
    flex: 1;
    position: relative;
    min-height: 120px;
    transition: transform .5s ease-in-out;
}

.box .header  
{
    background-color: steelblue;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    
}

.box .body 
{
    font-weight: bold;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
}

.boxes 
{
    width: 80vw;
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}
.box:hover 
{
    cursor: pointer;
    transform: scale(.95);
}
